

<div class="header">
    <div id="sidebar-help" class="d-none"></div>
    <div class="header-logo-box">
        <img src="assets/img/Capa_icon.png" alt="">
    </div>
    <span class="header-text">Kanban Projekt Management Tool</span>

    <div class="header_right">
        <div class="icon">
            <a href="../help.html"> <img src="assets/img/questionmark_icon.svg" alt=""></a>
        </div>
        <div> 
            <img onclick="showLogout()" class="pic" src="assets/img/christina.jpg" alt="">
        </div>
        <div class="log-out-button" id="logout-button">
            <a href="help.html" class="header-help">
                Help
            </a>
            <a href="impressum.html" class="header-legal">
                Legal notice
            </a>
            <a href="index.html">
                Log out
            </a>
        </div>
        
    </div>
</div>