

<div class="header">
    <div class="header-logo-box">
        <img src="assets/img/Capa_icon.png" alt="">
    </div>
    <span class="header-text">Kanban Projekt Management Tool</span>

    <div class="header_right">
        <div class="icon" id="sidebar-help">
            <a href="../help.html"> <img src="assets/img/questionmark_icon.svg" alt=""></a>
        </div>
        <div> 
            <img onclick="showLogout()" class="pic" src="assets/img/christina.jpg" alt="">
        </div>
        <a href="index.html" class="log-out-button" id="logout-button">
           <span>Log out</span>
        </a>
    </div>
</div>