#mainAddTask {
    /* display: flex; */
    /* height: 500px; */
    /* width: 690px; */
    gap: 30px;
  
}

input {
  border: unset;
}

.divider {
  height: 400px;
  background-color: grey;
  width: 1px;
}
.secondAddTask {
  display: flex;
}
.d-none {
    display: none;
}
.containerAddTaskLeftSide {
   /* padding-right: 15px; */
   width: 55%;
   /* border-right: 1px solid lightgrey; */
}

.containerAddTaskRightSide {
    /* padding-left: 15px; */
    width: 55%
 }
 
.inputUnit {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 10px;
    font-size: 16px;
    height: 10px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

 .inputDescription {
  font-family:'Poppins';
  word-wrap: break-word;
    font-size: 16px;
    /* display: flex; */
    /* flex-direction: row;
    align-items: flex-start; */
    padding: 10px 10px;
    height: 108px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    resize: none;
    box-sizing: border-box;
}





#selected {
    background-color: white;
   }

 
.inputArea {
  color: grey;
    border-radius: 8px;
    border: 1px solid lightgray;
    background-color: white;
   
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    /* padding: 10px 10px 10px 15px; */
}

#optionsCat {
  /* max-height: 80px; */
  overflow:scroll;
}

#optionsUser {
  max-height: 80px;
  overflow: scroll;
}
.options {
    border-radius: 8px;
    border: 1px solid lightgray;
    background-color: white;
border-top: none;
    display: flex;
    justify-content: space-between;
    /* padding: 10px 10px 10px 15px; */
    display: flex;
    flex-direction: column;
    margin-top: -1px;
    font-size: 0.9em;
    
}

.item {
 

    padding: 10px 10px 10px 15px;
    cursor: pointer;
}

.item:hover {
    background-color: rgb(233, 233, 233);
}

.round {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 100%;
    
}

/* .circle:before {
    content: ' \25CF';
    font-size: 20px;
    color: red;
   
  } */

  .circle {
    margin-left: 5px;
   width: 12px;
   height: 12px;
   border-radius: 100%;
     
  }




  .checkbox {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    cursor: pointer;
  }

  .bigNameCircle {
    font-size: 12px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    
    color: white;
    margin-right: -5px;

  }

  .prioButtons {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  .buttonPrio {
    gap: 15px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    cursor: pointer;
  
   
    
  }

  .buttonPrio:hover {
    box-shadow: 0px 7px 6px -2px rgba(84,84,84,0.60);
    transform:scale(1.1);
   
  }

  .invert {
    filter: brightness(0) invert(1);
  }
  
  /* #urgent: {
    background-color: red;
  } */

  #createTaskBTN{
    cursor: pointer;
    border: none;
    /* margin-top: 50px; */
    color: white;
    font-weight: bold;
    background-color: rgb(38, 38, 38);
    padding: 10px;
    border-radius: 8px;
    height: 50px;
    width: 150px;
  }

  #createTaskBTN:hover {
    background-color: rgb(59, 175, 243);
  }

  .BTN {
    gap: 15px;
   display: flex;
    justify-content: right;

  }

  .btn {
    cursor: pointer;
    border: none;
    /* margin-top: 50px; */
    color: white;
    font-weight: bold;
    background-color: rgb(38, 38, 38);
    padding: 10px;
    border-radius: 8px;
  }

  .light {
    background-color: white !important;
    color: rgb(38, 38, 38);
    border: 1px solid rgb(38, 38, 38);

  }
  .light:hover {
    border: 1px solid rgb(59, 175, 243);
    color:rgb(59, 175, 243);
  }
  .plus {
    position: absolute;
    top: 33px;
    right: 10px;
    cursor: pointer;
  }

  #displaySubtasks {
    font-size: 12px;
  }

  .colorspot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
   margin: 5px;
   cursor: pointer;
   border: 1px solid white;
  }
  #col0{
     background-color: #f99090;
   
  }
  #col1 {
    background-color: #ff1717;
  }
  
  #col2 {
background-color: #fac66e;
  }
  
  #col3 {
background-color: #845400;
  }
  
  #col4{
background-color: #b6fa81;
  }
  
  #col5 {
background-color: #07ab1d;
  }
  
  #col6 {
    background-color: #81adfd;
  }
  
  #col7 {
background-color: #0048cd;
  }
  
  #col8 {
    background-color: #ffb0f7;
  }
  
  #col9{
    background-color: #f500dc;
  }

  .colorspots {
    display: flex;
 
  }
  
  .colorspot:hover {
   
   transform: scale(1.1);
    box-shadow: 0px 0px 4px 1px rgba(82,82,82,0.69);
  }

  .highlighted
   {
   
   transform: scale(1.1);
    box-shadow: 0px 0px 4px 1px rgba(82,82,82,0.69);
  }
 
.red {
  background-color: rgb(255, 0, 0);
  color: white;
}
.orange {
  background-color: rgb(255, 119, 0);
  color: white;
}
.green {
  background-color: rgb(0, 123, 8);
  color: white;
}
  .duo {
    padding: 5px 10px 5px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .duo:hover {
    background-color: rgb(233, 233, 233);
}


.inlineDuo {
  cursor: pointer;
    display: flex;
    align-items: center;
}

.seperate {
  width: 1px;
  background-color: grey;
  height: 1.2em;
  margin: 0 3px;
}

.cancelOrAdd {
  display: flex;

}

#priority {
  display: flex;
  width: 90px;
  margin-left: 5px;
  padding: 2px 10px;
 justify-content: space-evenly;
  border-radius: 10px;;
}

#prioPic {
  margin-left: 5px;
  margin-right: 5px;
}

.containerTasks{
  position:absolute;
  left: 45%;
  top: 50%;
  height: 500px;
  /* bottom: 30%; */
  width: 700px;
  transform: translate(500%, -50%);
  /* max-height: 500px; */
  background-color: whitesmoke;
  border-radius: 20px;
  /* overflow: scroll; */
  z-index: 10;
  animation: newcontact 275ms ease-in-out forwards;
}

.missingInfoText {
  color: red;
  font-size: 12px;
}
