body {
    box-sizing: border-box;
   
}

h3 {
    font-size: 1em;
}

.main {
    margin-top: 140px;
    margin-left: 280px;
    overflow-y: scroll;
}

.contentBoard {
    display: flex;
    flex-direction: column;
    align-items: inherit;
    margin: 20px;
}

.cols {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.col {
    width: 250px;
    gap: 5px;
}

.moveIt {
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.box {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 18px 15px;
    gap: 10px;
    width: 200px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    margin-bottom: 5px;
    position: relative;
    min-height: 120px;
}

.boxLayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    border: 1px solid #0e90d2;
    border-radius: 30px;
}

.back {
    
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2em;
    cursor: pointer;
}

.boxLayerButton {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 130px;
    cursor: pointer;
}

.headline {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    height: 80px;
    align-items: center;
}

.oneRow {
    width: 100%;
    min-width: 100px;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    gap: 10px;
}

.row {
    display: flex;
    align-items: center;
    gap: 15px;
}

.category {
    border-radius: 8px;
    padding-right: 15px;
    padding-left: 15px;
    color: white;

}

.title {
    font-weight: 600;
    color: rgb(34, 34, 34)
}

.description {
    font-weight: 400;
    color: rgb(118, 118, 118);
    line-height: 19px;
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}

.howMuch {
    width: 80px;
    font-size: 0.8em;
}

.container {
    min-width: 100px;
}

.progress {
    overflow: hidden;
    height: 8px;
    border-radius: 5px;
    background-color: #e2e2e2;
}

.progress .bar {
    height: 8px;
    border-radius: 5px;
    box-sizing: border-box;
}

.Media {
    background-color: orange;
}

.Backoffice {
    background-color: #0e90d2;
}

.Sales {
    background-color: red;
}

.Web {
    background-color: green;
}

.assignTo {
    display: flex;

}

.placeholder {
    min-width: 100px;
    height: 150px;
    border: 1px dotted rgb(91, 91, 91);
    margin: 5px;
    border-radius: 15px;
    padding: 10px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.466);

}

.overlayTask {
    display: flex;
    position: absolute;
    top: 70px;
    left: 35%;
    font-size: 0.8em;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    z-index: 50;
    box-shadow: 0px 5px 15px 3px rgba(122, 122, 122, 0.53);
    padding: 20px;
    justify-content: center;
}

.makeBgDarker {
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 12;
}

.overlayCategory {
    padding: 5px 10px 5px 10px;
    margin: 30px 0 15px 0;
    border-radius: 10px;
    padding-left: 20px;
    width: 100px;
    color: white;
}

#closeTask {
    font-size: 2em;
    font-weight: 700;
}

.overlayTitle {
    padding: 15px 0 15px 0;
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
}

.overlayDescription {
    padding: 15px 0 15px 0;
}

.bold {
    font-weight: 500;
}

.overlayContent {
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
    height: 30px;
    justify-content: flex-start;
}

b {
    padding-right: 10px;
}

#closeTask {
    cursor: pointer;
}

.bgDark {
    background-color: #333;
}

.overlayOneRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fullUseOfSpace {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fullUseOfSpaceTop {
    width: 400px;
}

.edit {
    display: flex;
    justify-content: flex-end;
}

.headline img {
    width: 30px;
}


.edit img {
    width: 45px;
    cursor: pointer;
}

.editTask {
    position: absolute;
    display: flex;
    padding: 15px;
    top: 130px;
    left: 40%;
    width: 450px;
    box-shadow: 0px 5px 15px 3px rgba(122, 122, 122, 0.53);
    background-color: white;
    border-radius: 20px;
    z-index: 15;
    justify-content: center;
}

.containerEditTask {
    width: 75%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: inherit;
}

.mainAddTask {
    position: absolute;
    background-color: white;
}

.d-flex {
    display: flex;
}

.flyingAddTask {
    width: 600px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    z-index: 50;
    position: absolute;
    top: 150px;
    left: 250px;
    padding: 20px;
}

.overlay {
    position: absolute;
    padding: 20px;
    background-color: white !important;
}

.overlayEdit {
    position: absolute;
    top: 70px;
    left: 30%;
    background-color: white;
    border-radius: 20px;
    z-index: 15;
}

#BTN-save {
    position: absolute;
    top: 690px;
    left: 325px;
}

#createTaskBTN {
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgb(38, 38, 38);
    padding: 10px;
    border-radius: 8px;
    height: 40px;
    width: 150px;
}

#createTaskBTN:hover {
    background-color: rgb(59, 175, 243);
}

#totalInput {
    display: flex;
    gap: 15px;
}

.boardHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.boardHeader_right {
    align-items: center;
    display: flex;
    gap: 10px;
}

#search {
    height: 38px;
    width: 195px;
    border-radius: 10px;
    padding-left: 10px;
}

.devider {
    border-right: 1px solid #bfbfbf;
    height: 30px;
}

.inputField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 250px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid lightgrey;
}

.right {
    display: flex;
    align-items: center;
}

*:focus {
    outline: none;
}

.picLupe {
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;

}

.newTask {
    position: absolute;
    display: flex;
    gap: 30px;
    left: 55%;
    top: 50%;
    transform: translate(500%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 0 30px 25px 30px;
    z-index: 25;
    animation: newcontact 275ms ease-in-out forwards;
    flex-direction: column;
}

.completeNewTask {
    position: absolute;
    display: flex;
    gap: 30px;
    left: 55%;
    top: 50%;
    transform: translate(500%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 15px;
    z-index: 13;
    animation: newcontact 275ms ease-in-out forwards;
}

.newTaskHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newTaskThird {
    display: flex;
    gap: 15px;
}

#showAssignedPeople {
    display: flex;
}

#clickMe {
    cursor: pointer;
    font-size: 2em;
}

#mobileCreateTaskBTN {
    display: none;
}

#createTaskBTN {
    display: block;

}

.test {
    position: absolute;
    height: 100vh;
    width: 230px;
    background-color: rgb(41, 54, 70);
    z-index: -1;
}

#deleteIt {
    width: 45px;
    height: 45px;
    background-color: #2A3647;
    margin-right: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#deleteIt img {
    width: 30px;
}

.wrapper {
    margin-top: 3px;
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.rubbish {
    border-radius: 5px;
    margin-left: 10px;
}

.rubbish img {
    cursor: pointer;
    width: 15px;
}

.stepToSummary {
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 150px;
    right: 50px;
}

.stepToSummary:active {
    text-decoration: none;
    color: black;
}

.stepToSummary:visited {
    color:black;
    text-decoration: none;
}

@keyframes newcontact {
    0% {
        transform: translate (500%, -50%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 1300px) {

    .main {
        margin-left: 250px
    }

    .headline img {
        width: 20px;
    }

    h3 {
        font-size: 0.8em;
    }

    .box {
        font-size: 0.8em;
        width: 160px;
    }

    .col {
        width: 200px;
    }

    .container {
        min-width: 90px;
    }
}

@media (max-width: 1100px) {
    .main {
        margin-left: 230px;
        overflow-y: scroll;
    }
}

@media (max-width: 1050px) {

    /* h3 {
        font-size: 0.7em;
    } */

    .box {
        font-size: 0.8em;
        width: 128px;
    }

    .col {
        width: 160px;
    }

    .container {
        min-width: 70px;
    }
}

@media (max-width: 900px) {
    h1 {
        padding-left: 5px;
    }

    .boardHeader {
        align-items: baseline;
        display: flex;
        flex-direction: column;
        margin-right: 0;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: normal;
        overflow-y: scroll;
        margin-left: 0;
        margin-top: 100px;
    }

    .box {
        width: 140px;
    }

    .col {
        width: 180px;
        justify-content: center;
    }

    .container {
        min-width: 50px;
    }

    .overlayTask {
        left: 0;
        right: 0;
        top: 80px;
        border-radius: 0;
        bottom: 80px;
        justify-content: center;
        overflow: scroll;
    }

    .makeBgDarker {
        width: 0;
        height: 0;
    }

    .overlayEdit {
        left: 0;
        top: 80px;
        border-radius: 0;
        bottom: 80px;
        right: 0;
        background-color: whitesmoke !important;
        overflow-y: scroll;
    }

    #headline {
        display: flex !important;
        justify-content: flex-start;
        padding-left: 10px;
    }

    .test {
        display: none;
    }
}
@media (max-width: 750px) {
    .cols {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 80px;
        width: 100%;
    }

    .main {
        align-items: normal;
    }

    .box {
        width: 70%;
    }

    .col {
        width: 100%
    }

    .overlayTitle {

        font-weight: 600;
        font-size: 30px;
        line-height: 35px;
    }

    .moveIt {
        width: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
    }
    h3 {
        font-size: 1em;
    }
}

@media (max-width: 550px) {

    .overlayTask {
        justify-content: flex-start;
        overflow: scroll;
    }

    .fullUseOfSpaceTop {
        width: 100%;
    }

    .fullUseOfSpace {
        width: 100%;
    }

    #mobileCreateTaskBTN {
        display: block;
        padding: 0;
    }

    #createTaskBTN {
        display: none;
    }

    .infoText {
        z-index: 20;
        left: 30px;
    }

    .box {
        width: 90%;
    }

    .btn img {
        width: 30px;
    }

    h1 {
        font-size: 1.5em;
    }
}