
.bg0{
    background-color: lightgray;
}

.bg1 {
    background-color: #f99090;
}

.bg2 {
    background-color: #ff1717;
}

.bg3 {
    background-color: #fac66e;
}

.bg4 {
    background-color: #845400;
}

.bg5 {
    background-color: #b6fa81;
}

.bg6 {
    background-color: #07ab1d;
}

.bg7 {
    background-color: #81adfd;
}

.bg8 {
    background-color: #0048cd;
}
.bg9{
    background-color: #ffb0f7;
}
.bg10{
    background-color: #f500dc;
}
.bg11{
    background-color: rgb(179, 76, 214);
}
.bg12{
    background-color: rgb(43, 201, 240);
}
.ff1717{
    background-color: #ff1717;
}