
.bg0{
    background-color: lightgray;
}

.bg1 {
    background-color: #f99090;
}

.bg2 {
    background-color: #ff1717;
}

.bg3 {
    background-color: #fac66e;
}

.bg4 {
    background-color: #845400;
}

.bg5 {
    background-color: #b6fa81;
}

.bg6 {
    background-color: #07ab1d;
}

.bg7 {
    background-color: #81adfd;
}

.bg8 {
    background-color: #0048cd;
}