
.container{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: auto;
    z-index: 12;
}
input::placeholder, textarea::placeholder{
    color: lightgrey;
    font-family: 'Inter', sans-serif;
    
}
input, textarea{
    font-size: 16px;
    border-radius: 10px;
    border: unset;
    cursor: pointer;
   
}
label{
    margin-top: 5px;
}
.categories-options-box, .categories-options-headline,
 .assigned-options-box, .subtask-options-box, #due-date-input, 
 #add-task-title{
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}
#add-task-title, .assigned-options-box, .subtask-options-box,
#due-date-input, .categories-options-box{
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.assigned-options-box, .subtask-options-box, textarea{
    padding-left: 10px;
}
.categories-options-box{
    box-sizing: border-box;
    padding-left: 10px;
}
input:focus, textarea:focus{
    outline: none;
}
input:checked{
    accent-color:  rgb(41, 54, 70);
}
textarea{

    font-family: unset;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.add-task-head-title{
    font-size: 40px;
    color: rgb(41, 54, 70);
    font-weight: 500;
}
.card{
    margin-left: 10px;
    margin-right: 10px;
    width: 800px;
    min-height: 500px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    overflow: visible;
    transform: translate(0, 100%);
    animation: flyinfromright 225ms ease-in-out forwards;
}
@keyframes flyinfromright {
    from{transform: translate(0, 100%);
    }
    to{transform: translate(0, 0);}
}
@keyframes closecard {
    from{transform: translateX(0) scale(1);

    }
    to{transform: translateX(0) scale(0);

    }
}
.close-card-animation{
    animation: closecard 425ms ease-in-out forwards;
}
.card form{
    display: flex;
}

.card-left, .card-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
    
}
#due-date-input, #add-task-title{
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    width: 94%;
   
}
#due-date-input{
    width: 97%;
}
#add-task-submit{
    width: 120px;
    background-color: rgb(41, 54, 70);
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
#add-task-submit:hover{
    background-color: rgb(11, 173, 221);
}
#add-task-description{
    overflow: auto;
}
.small-point{
    height: 14px;
    width: 14px; 
    border-radius: 50%;
}
.categories-options-box, .subtask-options-box{
    height: 36px;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: height 125ms ease-in-out;
    background-color: white;
}
.subtasks-done-box{
    margin-top: 15px;
}



.categories-options-headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: lightgrey;
    height: 34px;
    background-color: white;
}
.categories-options-headline input{
    border: none;
}
.categories-options-headline input:focus{
    outline: none;
}
.new-category-option input{
    height: 36px;
    width: 160px;
    border: none;
    cursor: pointer;
}
.new-category-option input:focus{
    outline: none;
}
.new-category-option{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}
#input-new-category-symbol{
    opacity: 0;
    cursor: pointer;
}
.each-subtask{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
.each-subtask:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.new-sub-animation{
    animation: appearcolor 625ms ease-in-out forwards;
    opacity: 0;
}
.cancel-new-category{
    padding-right: 10px;
}

.options-triangle{
    color:  rgb(41, 54, 70);
    font-size: 36px;
    cursor: pointer;
    transform: rotate(0);
    transition: transform 225ms ease-in-out;
    padding-right: 10px;
}
.options-triangle:hover{
    color: rgb(11, 173, 221);
}
.category-to-choose{
  color: black;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 36px;

}
.choose-category-colors{
    display: flex;
    gap: 10px;
}
.one-color-option{
    border-radius: 50%;
    height: 10px;
    width: 10px;
    cursor: pointer;
    border: 3px solid white;
    margin-top: 7px;
    margin-bottom: 7px;

}
.one-color-option:hover{
    border: 3px solid transparent;
   
}
.color-avatar{
    height: 14px;
    width: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;            
}
.popup-new-category{
    opacity: 0;
    animation: appearcolor 625ms ease-in-out forwards;
    gap: 10px;
    display: flex;
    align-items: center;
    height: 36px;
}
@keyframes appearcolor {
    from{opacity: 0}
    to{opacity: 1}
}



.category-to-choose:hover{
    background-color: rgba(0, 0, 0, 0.1);

}
.options-cancel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    cursor: pointer;
}
.task-textarea{
    max-width: 99%;
    max-height: 30vh;
    min-height: 100px;
    min-width: 90%;
}
.each-chosen-circle{
    width: 36px;
    height: 36px;
    margin-left: -10px;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    inherits: none;       
}

.chosen-circles{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
} 

.assigned-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.assigned-option{
    display: flex;
    color: black;
    justify-content: space-between;
    width: 100%;
}
.assigned-options-box{
    height: 36px;
    transition: height 125ms ease-in-out;        
}
.card-middle-box{
    min-height: 380px;            
    justify-content: center;
    display: flex;
    align-items: center;
}
.middle-line{
    width: 1px;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.2);
}
.save-task-button{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    margin-top: 15px;
    align-items: center;

}
.cancel-new-task{
    color: rgb(41, 54, 70);
    background-color: white;
    border: 1px solid rgb(41, 54, 70);
    width: 80px;
    background-color: white;
    padding: 6px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
.cancel-new-task:hover{
    color: rgb(11, 173, 221);
    background-color: white;
    border: 1px solid rgb(11, 173, 221);
}
.add-task-prio{
    display: flex;
    justify-content: flex-start;
    gap: 15px
}
.arrow-urgent, .arrow-low{
    font-size: 30px;
}
.arrow-urgent{
    writing-mode: vertical-rl;
    transform: rotateX(180deg);
    color: red;
}
.arrow-low{
    writing-mode: vertical-lr;
    color: limegreen;
}

.medium{
    font-size: 40px;
    writing-mode: vertical-rl;
    color: orange;
    transform: rotateX(180deg);
}
.prio-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100px;
    height: 36px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 12px;
    background-color: white;
}

.prio-box:hover{
    box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.2)
}

.urgent-clicked{
    background-color: red;
    color: white;

}
.low-clicked{
    background-color: limegreen;
    color: white;
   
}
.medium-clicked{
    background-color: orange;
    color: white;
    
}
.symbol-clicked{
    filter: brightness(0) invert(1);

}
.subtasks-done-line{
    height: 8px;
    width: 80%;
    background-color: rgb(202, 201, 201);
    border-radius: 3px;
    position: relative;
    display: flex;
    
}
.subtasks-really-done{
    position: absolute;
    height: 8px;
    background-color: rgb(11, 173, 221);
    transition: width 225ms ease-in-out;
    border-radius: 3px;
}
.coffee-container{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -20px;
}
.coffee-container img{
    width: 20px;
    height: 20px;
}
.cup{
    position: absolute;
}
.steam{
    position: absolute;
    opacity: 0;
    animation: steam 1.5s infinite;
    transform: translateY(6px);
}
@keyframes steam {
    0%{opacity: 0.01;
        transform: translateY(6px);}
    50%{opacity: 0.4;}
    100%{opacity: 0.01;
        transform: translateY(-3px);}
}
@media (max-width: 600px){
    form{
        flex-direction: column;
    }
    .card-middle-box{
        display: none;
    }
    .card-left{
        width: 100%;
    }
    .card-right{
        width: 100%;
        padding-top: 0;
    }
    .container{
        height: unset;
    }
    .card{
        width: 100%;
    }
}   

