.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    height: 100px;
    width: 100%;
    z-index: 10;
}
.header-logo-box{
    height: 40px;
    width: 40px;
    display: none;
    margin-left: 5%;
}
.header-logo-box img{
    width: 100%;
}
.header-text{
    padding-left: 302px;
}
.pic {
    border: 3px solid #2A3647;
    border-radius: 50%;
    padding: 3px;
}
.d-none{
    display: none;
}
.header_right {
    display: flex;
    gap: 34px;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
}
.header_right img{
    cursor: pointer;
}
.log-out-button{
    position: absolute;
    background-color:  rgb(41, 54, 70);
    padding: 10px 15px 10px 15px;
    font-size: 17px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translate(-5px, 50px);
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.log-out-button a{
    text-decoration: none;
    color: rgba(254, 254, 254, 0.8);
    padding: 5px;
}
.log-out-button a:hover{
    background-color: rgba(11, 173, 221, 1);
}
.header-help, .header-legal{
    display: none;
}

@media (max-width: 900px){
    .header-text{
        display: none;
    }
    .header-logo-box{
        display: flex;
    }
    .header{
        height: 80px;
    }
    .header-help, .header-legal{
        display: unset;
    }
    .icon{
        display: none;
    }
    .log-out-button{
        transform: translate(-120px, 80px);
        width: 120px;
    }
}