body {
    color: black;
    font-family: 'Inter', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background: #F5F5F5;
}

h2 {
    width: 315px;
height: 73px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 61px;
line-height: 120%;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
}

.topic {
    font-size: 1.8em;
    color: rgba(11, 173, 221);
    font-weight: 500;
    margin-top: 50px;
 
}

.impressum {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 70px;
}

.impressum a {
 text-decoration: none;
}
