body {
    color: black;
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background: #F5F5F5;
}

h2 {
    width: 315px;
height: 73px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 61px;
line-height: 120%;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
}

.main {
    margin-top: 140px;
    margin-left: 300px;
}

@media (max-width: 1100px){
    .main{
        margin-left: 250px;}
}


