
.sideMenu {
    color: #CDCDCD;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 66px 20px;
    gap: 103px;
    
    position: fixed;
    width: 232px;
    height: 100vh;
    left: 0px;
    top: 0px;
    
    background: #2A3647;
   
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    
}

.menuBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 53px;
    gap: 20px;
    width: 125px;
    height: 46px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}

.menuBox img {
    width: 25px;

}

.menuBox:hover {
    background: #091931; 
}

a:link, a:visited {
    text-decoration: none;
    color:#CDCDCD;
   }