.sideMenu {
    color: #CDCDCD;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 232px;
    z-index: 11;
}
.menuBox {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    width: 232px;
    gap: 20px;
    height: 60px;
    cursor: pointer;
}
.sites-box{
    display: flex;
    flex-direction: column;
}
.menuBox img {
    width: 25px;
}
.menuBox:hover {
    background: #091931; 
}
.sideMenu a{
    text-decoration: none;
    color:#CDCDCD;
   }
@media (max-width: 900px){
    .sideMenu{
        flex-direction: row;
        left: unset;
        top: unset;
        width: 100vw;
        height: 80px;
        bottom: 0;

    }
    .sidebar-logo, .legal-text{
        display: none;
    }
    .sites-box{
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    .menuBox{
        gap: 10px;
        flex-direction: column;
        width: 120px;
        height: 80px;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}
@media (max-width: 450px){
    .menuBox{
        font-size: 12px;
        width: 70px;
        gap: 15px;
        justify-content: center;
    }
    .menuBox img{
        width: 15px;
        height: 15px;
        
    }
}
